*{
    margin: 0px;
    padding: 0px;
}
body {
    font-family: "Montserrat";
    text-align: center;
  }
  

.colored-section{
    background-color: #6739B6;
    color:#fff;
}

.navbar-brand img{
    height:auto;
    width:250px;
   
}

.push-right{
    justify-content: flex-end;
  }

.navbar a{
    color:rgba(255,255,255,.5);
    font-size: 1.2rem;
  }

  .navbar{
    padding: 0 0 4.5rem;
  }
  
  .container-fluid{
    padding: 1% 10% 9%;
  }

  .nav-link{
    padding-left: 30px!important;
    padding-right: 30px!important;
  }

  .big-heading{
    
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 3rem;
    line-height: 1.5;
    text-align: left;
  }

  .image-iphone {
    width: 20%;
    transform: rotate(20deg);
    position: absolute;
    right: 20%;
  }

  #title {
    text-align: left;
}

  .download-button {
    margin: 5% 3% 5% 0;
  }

  .box-feature img{
    width: 64px;
    height: auto;
  }

  .box-feature{
    padding:0;
  }

  .space{
    margin:0 10px;
    box-shadow: 0px 49px 40px rgba(50, 50, 71, 0.05);
    padding: 10%;
  }
  h3 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 35px;
  }

  #features {
    padding: 4% 15%;
    position: relative;
  }

  #press {
    padding: 5% 1%;
  }
  
  .press-img {
    width: 8%;
    margin: 20px 40px;
  }
  .roundedimg{
    border-radius: 50%;
    height: 100px;
    display: block;
    margin: 30px auto;
  }